{% extends "layout.html" %}

{% block page_title %}
  Open Registers
{% endblock %}

{% block content %}

<main id="content" role="main">
	<div class="phase-banner">
		<p>
		<strong class="phase-tag">BETA</strong>
		<span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
		</p>
	</div>
	<a href="/table.html" class="link-back">Back</a>
	<div class="grid-row">
		<div class="column-two-thirds">
			<h2 class="heading-large">143648</h2>
			<p>This is a record in the <a href="/index.html">School-eng</a>.</p>
		</div>
	</div>
	<div class="grid-row table-view">
		<div class="column-full" id="table-column">
			<table>
				<tbody>
				        
				          <tr>
				            <td>
				              <a href="https://field.alpha.openregister.org/record/school-eng">school-eng</a>
				            </td>

				            <td>
				              <a href="https://school-eng.alpha.openregister.org/record/143648">143648</a>
				            </td>

				            
				            
				          </tr>
				        
				        
				          <tr>
				            <td>
				              <a href="https://field.alpha.openregister.org/record/name">name</a>
				            </td>

				            

				            
				            <td>Harpenden Free School</td>
				          </tr>
				        
				        
				          <tr>
				            <td>
				              <a href="https://field.alpha.openregister.org/record/address">address</a>
				            </td>

				            

				            
				            <td>10093185491</td>
				          </tr>
				        
				        
				          <tr>
				            <td>
				              <a href="https://field.alpha.openregister.org/record/school-authority-eng">school-authority-eng</a>
				            </td>

				            <td>
				              <a href="https://school-authority-eng.alpha.openregister.org/record/919">919</a>
				            </td>

				            
				            
				          </tr>
				        
				        
				          <tr>
				            <td>
				              <a href="https://field.alpha.openregister.org/record/minimum-age">minimum-age</a>
				            </td>

				            

				            
				            <td>4</td>
				          </tr>
				        
				        
				          <tr>
				            <td>
				              <a href="https://field.alpha.openregister.org/record/maximum-age">maximum-age</a>
				            </td>

				            

				            
				            <td>11</td>
				          </tr>
				        
				        
				          
				        
				        
				          <tr>
				            <td>
				              <a href="https://field.alpha.openregister.org/record/religious-characters">religious-characters</a>
				            </td>

				            

				            <td class="field-list field-list-in-table">
				              <ul>
				              
				              </ul>
				            </td>
				            
				          </tr>
				        
				        
				          <tr>
				            <td>
				              <a href="https://field.alpha.openregister.org/record/religious-ethos">religious-ethos</a>
				            </td>

				            

				            <td class="field-list field-list-in-table">
				              <ul>
				              
				              </ul>
				            </td>
				            
				          </tr>
				        
				        
				          <tr>
				            <td>
				              <a href="https://field.alpha.openregister.org/record/dioceses">dioceses</a>
				            </td>

				            

				            <td class="field-list field-list-in-table">
				              <ul>
				              
				              </ul>
				            </td>
				            
				          </tr>
				        
				        
				          <tr>
				            <td>
				              <a href="https://field.alpha.openregister.org/record/organisation">organisation</a>
				            </td>

				            <td>
				              <a href="https://academy-school-eng.alpha.openregister.org/record/143648">academy-school-eng:143648</a>
				            </td>

				            
				            
				          </tr>
				        
				        
				          <tr>
				            <td>
				              <a href="https://field.alpha.openregister.org/record/school-phases">school-phases</a>
				            </td>

				            

				            <td class="field-list field-list-in-table">
				              <ul>
				              
				                  <li>
				                    <a href="https://school-phase.alpha.openregister.org/record/PRI">PRI</a>
				                  </li>
				                  
				              
				              </ul>
				            </td>
				            
				          </tr>
				        
				        
				          
				        
				        
				          
				        
				        
				          <tr>
				            <td>
				              <a href="https://field.alpha.openregister.org/record/school-tags">school-tags</a>
				            </td>

				            

				            <td class="field-list field-list-in-table">
				              <ul>
				              
				              </ul>
				            </td>
				            
				          </tr>
				        
				        
				          <tr>
				            <td>
				              <a href="https://field.alpha.openregister.org/record/headteacher">headteacher</a>
				            </td>

				            

				            
				            <td>Mrs Lisa Davies</td>
				          </tr>
				        
				        
				          <tr>
				            <td>
				              <a href="https://field.alpha.openregister.org/record/start-date">start-date</a>
				            </td>

				            

				            
				            <td>2016-09-01</td>
				          </tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="grid-row">
		<div class="column-full">
			<p class="data-representations">This data is available as:
				<a href="/record/ES-CE.json">json</a>,
				<a href="/record/ES-CE.yaml">yaml</a>,
				<a href="/record/ES-CE.csv">csv</a>,
				<a href="/record/ES-CE.tsv">tsv</a>
				and
				<a href="/record/ES-CE.ttl">ttl</a>
			</p>
			<p><a href="/record/143648/entries">View all versions of this record</a></p>
		</div>
	</div>
</main>

{% endblock %}


